/* line 22, ../IndeVets/src/sass/style.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 27, ../IndeVets/src/sass/style.sass */
.container {
  width: 1140px;
  margin: 0 auto;
}

/* line 30, ../IndeVets/src/sass/style.sass */
header {
  min-height: 799px;
  background: #284854;
}

/* line 33, ../IndeVets/src/sass/style.sass */
nav {
  background: #60C1BD;
  padding: 23px 0;
  transform: translateY(22px);
}

/* line 37, ../IndeVets/src/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 41, ../IndeVets/src/sass/style.sass */
.menu__logo {
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
}

/* line 45, ../IndeVets/src/sass/style.sass */
.menu__list {
  display: flex;
  list-style-type: none;
}

/* line 48, ../IndeVets/src/sass/style.sass */
.menu__link {
  margin-left: 60px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #284854;
  transition: 0.2s all;
}

/* line 55, ../IndeVets/src/sass/style.sass */
.menu__link:hover {
  color: #007bff;
}

/* line 57, ../IndeVets/src/sass/style.sass */
.menu__link:active {
  color: orange;
}

/* line 59, ../IndeVets/src/sass/style.sass */
.subheader {
  padding: 120px 0;
}

/* line 61, ../IndeVets/src/sass/style.sass */
.subheader__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 65, ../IndeVets/src/sass/style.sass */
.subheader__img {
  max-width: 314px;
  width: 100%;
}

/* line 68, ../IndeVets/src/sass/style.sass */
.subheader__descr {
  width: 712px;
}

/* line 70, ../IndeVets/src/sass/style.sass */
.subheader__title {
  font-weight: 400;
  font-size: 85px;
  line-height: 102px;
  color: #8BC441;
}

/* line 75, ../IndeVets/src/sass/style.sass */
.subheader__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  width: 542px;
  margin-top: 60px;
}

/* line 82, ../IndeVets/src/sass/style.sass */
.promo {
  display: flex;
  justify-content: space-between;
  margin-top: -80px;
}

/* line 86, ../IndeVets/src/sass/style.sass */
.promo__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 112px 0 30px;
  max-width: 506px;
  width: 100%;
  min-height: 203px;
  background: #F4F6F0;
  border-radius: 4px;
}

/* line 96, ../IndeVets/src/sass/style.sass */
.promo__img {
  max-width: 119px;
  width: 100%;
}

/* line 99, ../IndeVets/src/sass/style.sass */
.promo__title {
  font-weight: 400;
  font-size: 37px;
  color: #8BC441;
}

/* line 103, ../IndeVets/src/sass/style.sass */
.promo__text {
  width: 188px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #60C1BD;
  margin-top: 9px;
}

/* line 110, ../IndeVets/src/sass/style.sass */
.works {
  padding: 174px 0 80px 0;
}

/* line 112, ../IndeVets/src/sass/style.sass */
.works__block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 80px;
}

/* line 117, ../IndeVets/src/sass/style.sass */
.works__img {
  max-width: 285px;
  width: 100%;
}

/* line 120, ../IndeVets/src/sass/style.sass */
.works__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #798B56;
}

/* line 122, ../IndeVets/src/sass/style.sass */
.works__subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: #8BC441;
  width: 497px;
  margin-top: 10px;
}

/* line 124, ../IndeVets/src/sass/style.sass */
.works__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  color: #284854;
  width: 500px;
  margin-top: 10px;
}

/* line 126, ../IndeVets/src/sass/style.sass */
.title {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: #60C1BD;
}

/* line 131, ../IndeVets/src/sass/style.sass */
.subtitle {
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  color: #284854;
  margin: 5px 0 110px;
}

/* line 137, ../IndeVets/src/sass/style.sass */
.mission {
  background: #F4F6F0;
  padding: 78px 0 127px;
}

/* line 140, ../IndeVets/src/sass/style.sass */
.mission__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 145, ../IndeVets/src/sass/style.sass */
.mission__img {
  max-width: 450px;
  width: 100%;
}

/* line 148, ../IndeVets/src/sass/style.sass */
.mission__descr {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* line 152, ../IndeVets/src/sass/style.sass */
.mission__descr .subtitle {
  margin: 5px 0 31px;
}

/* line 154, ../IndeVets/src/sass/style.sass */
.mission__text {
  width: 504px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #284854;
}

/* line 160, ../IndeVets/src/sass/style.sass */
.mission__button {
  margin-top: 50px;
}

/* line 162, ../IndeVets/src/sass/style.sass */
.sounds {
  padding: 86px 0;
  background: #8BC441;
}

/* line 165, ../IndeVets/src/sass/style.sass */
.sounds__block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* line 169, ../IndeVets/src/sass/style.sass */
.sounds__img {
  max-width: 240px;
  width: 100%;
}

/* line 172, ../IndeVets/src/sass/style.sass */
.sounds__descr {
  width: 581px;
}

/* line 174, ../IndeVets/src/sass/style.sass */
.sounds__title {
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  color: #FFFFFF;
}

/* line 179, ../IndeVets/src/sass/style.sass */
.sounds__sub {
  display: flex;
  justify-content: space-between;
  margin-top: 57px;
}

/* line 183, ../IndeVets/src/sass/style.sass */
.sounds__text {
  width: 250px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
}

/* line 189, ../IndeVets/src/sass/style.sass */
.footer {
  padding: 45px 0;
}

/* line 191, ../IndeVets/src/sass/style.sass */
.footer__wrapper {
  display: flex;
}

/* line 193, ../IndeVets/src/sass/style.sass */
.footer__block {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

/* line 197, ../IndeVets/src/sass/style.sass */
.footer__title {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  txet-transform: uppercase;
  color: #284854;
  margin-bottom: 25px;
}

/* line 204, ../IndeVets/src/sass/style.sass */
.footer__text {
  padding-bottom: 18px;
  font-weight: 400;
  font-size: 14px;
  margin-right: 35px;
  color: #60C1BD;
}

/* line 210, ../IndeVets/src/sass/style.sass */
.footer__link {
  color: #60C1BD;
  text-decoration: none;
}

/* line 213, ../IndeVets/src/sass/style.sass */
.footer__link:hover {
  color: #8BC441;
}

/* line 215, ../IndeVets/src/sass/style.sass */
.footer__link:active {
  color: orange;
}

/* line 217, ../IndeVets/src/sass/style.sass */
.footer__links {
  margin-left: 110px;
}

/* line 220, ../IndeVets/src/sass/style.sass */
.footer__row {
  display: flex;
  margin-top: 60px;
}

/* line 223, ../IndeVets/src/sass/style.sass */
.footer__subtitle {
  margin-top: 15px;
  font-weight: 400;
  font-size: 13px;
  color: #284854;
}

/* line 228, ../IndeVets/src/sass/style.sass */
.footer__img {
  max-width: 230px;
  height: 210px;
  width: 100%;
}

/* line 232, ../IndeVets/src/sass/style.sass */
.footer__address {
  margin-left: 55px;
}

/* line 234, ../IndeVets/src/sass/style.sass */
.footer__call {
  margin-top: 25px;
  line-height: 5px;
}

/*# sourceMappingURL=style.css.map */