$fontAlt: 'Roboto';
$white: #fff;
$menuBg: rgba(105, 207, 23, 0.75);
$green: #69CF17;
$bodyBg: #0C0C0C;


$kingKombo: #f90;
$kingBox: #00a843;
$burger: #f1bb01;
$rolls: #29c4fa;
$beverages: #2ac0db;
$desserts: #f90;