.catalog {
    margin: 48px 0 50px;
    &__tabs {
        display: flex;
        background: #292929;
        box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3);
        padding: 0 15px;
    }
    &__tab {
        display: inline-block;
        position: relative;
        font-weight: 400;
        font-size: 18px;
        color: #FFFFFF;
        padding: 20px 6px;
        margin-right: 25px;
        cursor: pointer;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 1px;
            width: 0%;
            background: #fff;
            transition: 500ms;
        }
        &_active::after {
            width: 100%;
            left: 0;
        }
    }
    &__content {
        background: #393636;
        padding: 15px;
        display: none;
        grid-template-columns: repeat(4, 370px);
        /* grid-template-rows: repeat(1, 524px); */
        grid-auto-rows: auto;
        justify-content: space-between;
        gap: 30px;
        &_active {
            display: grid;
        }
    }
    &-item {
        /* width: 370px; */
        /* height: 524px; */
        background: #0C0C0C;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        padding: 15px;
        &__link {
            display: block;
            position: relative;
            height: 325px;
            background: url(../../img/menu_bg/1.jpg) center / cover no-repeat;
            &_bg-2 {
                background: url(../../img/menu_bg/2.jpg) center / cover no-repeat;
            }
            &_bg-4 {
                background: url(../../img/menu_bg/4.jpg) center / cover no-repeat;
            }
            &_bg-3 {
                background: url(../../img/menu_bg/7.jpg) center / cover no-repeat;
            }
            &_bg-5 {
                background: url(../../img/menu_bg/15.jpg) center / cover no-repeat;
            }
        }
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__buy {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 300ms;
            &:hover {
                background: rgba(105, 207, 23, 0.9);
                opacity: 1;
            }
        }
        &__title {
            font-size: 19px;
            line-height: 30px;
            margin-top: 15px;
        }
        &__price {
            display: inline-block;
            font-family: $fontAlt;
            padding: 5px 15px;
            margin-top: 15px;
            font-size: 19px;
            color: yellow;
            border: 1px solid yellow;
        }
        &__descr {
            font-size: 19px;
            line-height: 25px;
            margin-top: 15px;
        }
    }
}