.header {
    position: sticky;
    top: 0;
    z-index: 999;
}
.nav {
    background: rgba(0, 0, 0, 0.5);
    /* border: 1px solid rgba(125, 115, 115, 0.5); */
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(125, 115, 115, 0.5);
    border-bottom: 1px solid rgba(125, 115, 115, 0.5);
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.logo {
    &__img {
        display: block;
        width: 216px;
        max-height: 53px;
        height: 100%;
        object-fit: cover;
    }
}
.menu {
    display: flex;
    &__page {
        transition: 500ms;
        &_active {
            background: $green;
        }   
    }
    &__link {
        display: inline-block;
        padding: 22px 14px;
        font-weight: 400;
        font-size: 18px;
    }
}