.top {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__logo-descr {
        margin-left: 5px;
        font-family: $fontAlt;
        font-weight: 400;
        font-size: 16px;
    }
    &__menu {
        display: flex;
    }
    &__menu-link {
        display: inline-block;
        padding: 21px 0 19px 20px;
        font-family: $fontAlt;
        font-weight: 400;
        font-size: 16px;
    }
}




